[target.x86_64-unknown-linux-gnu]
rustflags = "-C target-cpu=x86-64 -C target-feature=+sse2,+sse3,+avx2"

[target.aarch64-apple-darwin]
rustflags = "-C target-feature=+neon -C link-arg=-Wl,-rpath,@executable_path/../Frameworks"

[profile.dev]
opt-level = 1

[profile.release]
opt-level = 3
lto = true
